


<header>
   <!-- <img id="logo" src="images/ninjablack.png">  -->
    <h1 id="motto">Black Ninja</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
     <!--   <li><a href="about/index.hbs">About</a></li>  -->
            <li><a href="/about/">Aboout</a></li>
            <li><a href="/extra/">Extra</a></li>
            <li><a href="zzzzzzz">zzzzzzz</a></li>
        </ul>
    </nav>
</header>


