

<main class="main_class">
    <h1 id="title">{{ titlex }}!!!</h1>
    <h4 id='h4click'>the h4 to receive button click</h4>
    <button onclick="Func1()">btn1</button>
    <section>
       <h3 id="h3text">inside section of extra.hbs</h3>
       <div class = "divPic">
          <img src="/images/b10.jpg" style="width:100%; height: 100%;" alt="piccy" >
       </div>
    </section>
</main>




